body {
      background-color: #f8f6dd;
      text-align: center;
      margin: 0px 0px 50px 0px;
      font-family: Varela;
      font-size: 14px;
      color: #666666;
}

div.mainMenu {
      height: 100px;
      background-color: #222222;
}

div.subMenu {
      height: 50px;
      background-color: #222222;
      padding-top: 0px;
      line-height: 0px;
}

div.name {
      font-family: 'News Cycle';
      font-weight: 400;
      font-size: 25px;
      line-height: 2em;
      letter-spacing: 2px;
      color: #0099ff;
      opacity: 0.95;
}

div.outerMain {
      width: 700px;
      margin: 0px auto;
      margin-top: 10px;
      text-align: left;
      line-height: 25px;
}

div.outer {
      width: 900px;
      margin: 0px auto;
      margin-top: 40px;
      text-align: left;
      line-height: 25px;
}

@-webkit-keyframes bannerFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes bannerFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes bannerFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes bannerFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#banner {
      position: relative;
      width: 100%;
      margin: 0 auto;
}

#banner img {
  position:absolute;
  left:0;
}

#banner img {
  -webkit-animation-name: bannerFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s;

  -moz-animation-name: bannerFadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 40s;

  -o-animation-name: bannerFadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 40s;

  animation-name: bannerFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}
#banner img:nth-of-type(1) {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  animation-delay: 30s;
}
#banner img:nth-of-type(2) {
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  animation-delay: 20s;
}
#banner img:nth-of-type(3) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
#banner img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

span.mainMenu {
      font-family: 'Varela';
      font-weight: 50;
      font-size: 12px;
      line-height: 4em;
      letter-spacing: 2px;
      color: #666666;
      width: 50px;
      margin: 10px 10px 10px 10px;
      link: #666666;
      visited: #666666;
}

a.mainMenu {
      color: #666666;
      visited: #666666;
}

a.body {
      color: #009900;
      visited: #009900;
}

a.active { 
      color: #cccccc;
}

a:hover {
      color: #cccccc;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

#section {
      font-family: 'Varela';
      font-size: 22px;
      color: #ae0f0f;
      margin-top: 20px;
      margin-bottom: 10px;
}

#subSection {
      font-family: 'PT Serif';
      font-size: 18px;
      color: #333333;
      margin-top: 25px;
      margin-bottom: 7px;
}

#lecUnit {
      font-family: 'PT Serif';
      font-size: 16px;
      color: #333333;
      margin-top: 10px;
      margin-left: 40px;
}

#lecSection {
      font-family: 'PT Serif';
      font-size: 14px;
      color: #333333;
      margin-top: 10px;
      margin-left: 80px;
}

#pageTitle {
      font-family: 'PT Serif';
      font-size: 25px;
      color: #ae0f0f;
      margin-top: 25px;
      margin-bottom: 7px;      
}

span.scheduleTitle {
      font-family: 'PT Serif';
      font-size: 18px;
      color: #333333;
}
