html {
      min-height: 100%;
}

body {
      background-color: #292626;
      background-image: url(Images/econ133back1.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0px 0px 0px 0px;
      font-family: Arial;
      letter-spacing: 1px;
      font-size: 12px;
      color: #f2e9bb;
      height: 100vh;
      width: 100%;
}

div.mainMenu {
      height: 100px;
      background-color: #292626;
      opacity: 0.93;
}

div.content {
      background-color: #292626;
      height: 100%;
      opacity: 0.93;
      position: relative;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 10px;
      padding-bottom: 50px;
}

div.outer {
      width: 60%;
      height: 100%;
      text-align: left;
      line-height: 25px;
      position: relative;
      margin: auto;
}

span.mainMenu {
      font-family: 'Open Sans Condensed';
      font-weight: 300;
      font-size: 20px;
      margin: 10px 10px 10px 10px;
      letter-spacing: 2px;
      width: 50px;
}

a.mainMenu {
    color: #bfba73;
    visited: #bfba73;
}

span.mainMenuTitle {
      font-family: 'Open Sans Condensed';
      font-weight: 300;
      font-size: 50px;
      letter-spacing: 2px;
      width: 50px;
      margin: 10px 10px 10px 10px;
}

a.mainMenuTitle {
      color: #ae0f0f;
      visited: #bf5325;
}

a.body {
      color: #4dac04;
      visited: #4dac04;
}

a.active { 
      color: #cccccc;
      text-decoration: underline;
}

a:hover {
      color: #cccccc;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

#section {
      font-family: 'Droid Serif';
      font-size: 22px;
      color: #ae0f0f;
      padding-top: 20px;
      padding-bottom: 10px;
}

#subSection {
      font-family: 'Droid Serif';
      font-size: 18px;
      color: #333333;
      margin-top: 25px;
      margin-bottom: 7px;
}

#lecUnit {
      font-family: 'Droid Serif';
      font-size: 16px;
      color: #333333;
      margin-top: 10px;
      margin-left: 40px;
}

#lecSection {
      font-family: 'Droid Serif';
      font-size: 14px;
      color: #333333;
      margin-top: 10px;
      margin-left: 80px;
}

#pageTitle {
      font-family: 'Droid Serif';
      font-size: 25px;
      color: #ae0f0f;
      margin-top: 25px;
      margin-bottom: 7px;      
}

span.scheduleTitle {
      font-family: 'Droid Serif';
      font-size: 18px;
      color: #333333;
}
